
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height:;
}

ul.topnav li, ul.topnav {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 300px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

div.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff0000;
}

@media screen and (max-width: 600px) {
  div.navbar li.right, 
  div.navbar li {float: none;}
}

/*---------------------------------------------------------------------------------------*/

/* Links _ Links */

  a {
      color: rgb(255, 255, 255);
      text-decoration-line: underline;
      cursor: pointer;
  }
  
  a:hover {
      color: rgb(210, 235, 255);
  }

/* Links ^ Links */

/* Images _ Images */

  image {
      float:none;
      margin: 5px 10px 5px 10px;
      border-radius: 5px;
      cursor:pointer;
      -webkit-user-drag: none;
  }

  .logo {
    height: 1in;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 10px;
  }

/* Images ^ Images */

body {margin: 0;}